CD4_finetune_results/250722_geneformer_cellClassifier_jdm_classifier_with_hyperopt/ filter=lfs diff=lfs merge=lfs -text
CD4_finetune_results/250722_geneformer_cellClassifier_jdm_classifier_with_hyperopt/ksplit1/checkpoint-110/model.safetensors filter=lfs diff=lfs merge=lfs -text
CD4_finetune_results/250722_geneformer_cellClassifier_jdm_classifier_with_hyperopt/ksplit1/checkpoint-110/optimizer.pt filter=lfs diff=lfs merge=lfs -text
CD4_finetune_results/250722_geneformer_cellClassifier_jdm_classifier_with_no_hyperopt/ksplit1/checkpoint-110/model.safetensors filter=lfs diff=lfs merge=lfs -text
CD4_finetune_results/250722_geneformer_cellClassifier_jdm_classifier_with_no_hyperopt/ksplit1/checkpoint-110/optimizer.pt filter=lfs diff=lfs merge=lfs -text
